
header h1{
  color: #e47312;
  text-align: center;
  background-color: #94aa2a;
  border-color: "black";
  padding: .75em;
  border-style: solid;
}
body{
  
  
}

main{
  display: flex;
}
.border {
  border-top-style: solid;
  border-color: blueviolet;
  margin: auto;
  border-top-width: 30px;
  width: 66%;
  margin-top: 2em;
}
article h1 {
    color: crimson;
    text-align: center; 
}
article p {
  margin: 0 1em 0 2em;
  text-align: center;
}
article.one{
  color: black;
}
side-article img {
  margin-top: 4em;
}
footer {
  border-bottom: solid;
  color: blue;
  border-width: 4em;
  ;
}
side-article h2{
  margin: auto;
}
side-article p{
  margin: auto; 
  margin-bottom: 2em;

}
