
header h1{
  color: aliceblue;
  text-align: center;
  background-color: navy;
  border-color: "black";
  padding: .75em;
  border-style: solid;

}
body{
  
  
}

main{
  display: flex;
}
.border {
  border-top-style: solid;
  border-color: rgb(79, 144, 228);
  margin: auto;
  border-top-width: 30px;
  width: 66%;
  margin-top: 2em;
}
article h1 {
    color: rgb(5, 5, 5);
    text-align: center; 
    font-size: 22pt;
  }
article p {
  margin: 0 1em 0 2em;
  text-align: left;
}
article.one{
  color: black;
}
side-article img {
  margin-top: 2em;
}
footer {
  border-bottom: solid;
  color: blue;
  border-width: 4em;
  
}
side-article h2{
  margin: auto;
}
side-article p{
  margin: auto; 
  margin-bottom: 2em;

}
.middle {
  font-size: 16pt;
  text-align: left;
}
.lower {margin-bottom: 2em;}