
header h1{
  color: #e47312;
  text-align: center;
  background-color: #94aa2a;
  border-color: "black";
  padding: .75em;
  border-style: solid;
}
body{
  
  
}

main{
  display: flex;
}

article h1 {
    color: crimson;
    text-align: left;
    border-top: solid; 
    border-top-width: .5em; 
    border-color:lightskyblue;  
}
article.one{
  color: black;
}

/* article{
  margin: 4em
} */

footer {
  border-bottom: solid;
  color: blue;
  border-width: 4em;
  ;
}
side-article h2{
  margin: auto;
}
side-article p{
  margin: auto;
}

/* img {
  float:right;
  top: 
} */
